[machine]
name = Hellfire Reflow Machine V1.3x
controller = ESP32
author = Hellfire
max_temp = 230
min_temp = 65


[PID]
kp= 12.00;
ki= 2.00;
kd=5.00;


[Serial]
baudrate = 115200

[Plate]
type = ptc
voltage = 110
power = 400
zones = 1

[Fume_Extraction]
has_extraction_fan = true
extraction_fan_enabled = true

# When enabled, the fan runs only while fumes are actually being produced.
# This is determined by analyzing solder/flux melting temps if known.
smart_extraction = true

[Thermistor]
type = ntc
resistance = 100k

[Homing]
z_has_endstop = true
z_endstop_type = capacitive
# This uses two brass standoffs that touch to complete a circuit
# Go extremely slow to prevent damage
z_homing_speed = 0.5  # mm/s
z_home_pos = 30       # mm

[Camera]
camera_enabled = true
camera = /dev/video0
camera_resolution = 640x480
camera_has_light = true
crosshair_enabled = true
crosshair_gui_enabled = true
zoom_gui_enabled = true

